@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');



/*text-transform: uppercase - Transforma o texto em texto grande (caixa alta) */

/*
Fonte 1: Padrão
Fonte 2: Fonte do cabeçalho
Fonte 3: Texto do poema
*/

/*
10vw: 10% baseado na largura da tela
A tela aumenta, a fonte aumenta.
A tela diminui, a fonte diminui.
A melhor prática, no entanto, é usar o
media querie, que configura a tela de forma
correta.
*/

:root{
     --fonte1: verdana, Geneva, Tahoma, sans-serif;
     --fonte2:  "Passion One", cursive;
     --fonte3: "Sriracha", cursive;

      }


*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}
  
body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}

header{
background-color: black;
color: white;
text-align: center;

}


header > h1{
 padding-top: 50px;
 color: white;
 font-variant: small-caps;
 text-align: center;
 font-family: var(--fonte2);
 font-size: 10vw; 
}

header > p{
    padding-bottom: 50px;
    color: white;
    text-align: center;
    font-family: var(--fonte1)
}

header > p > a{
    text-decoration: none;
    font-weight: bolder;
    color: white;
}

header > p > a:hover{
    text-decoration: underline;
    color: red;
}


Section{
   
   padding-top:  10vh;
   padding-bottom: 10vh;
   padding-left: 30px;
   font-family: var(--fonte3);
   font-size: 1.5em;
   font-weight: bold;

}

Section > p{
    
    line-height: 2em;
    padding-left: 30px;
}  

.fundobranco{
    background-color: white;
    color: black;
    padding: 10px;  
}

Section.fundobranco{
    background-color: white;
    color: black;
}


Section.imagem > p{
    display: inline-block;
    line-height: 2em;
    padding: 5px;
    border-radius: 4px;
    background-color: rgba(76, 75, 75, 0.312);
    color: white;
    
}

.imagem{

    background-image: url('imagens/background001.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    background-attachment: fixed;
}

.imagem2{

    background-image: url('imagens/background002.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    background-attachment: fixed;
}


Section.imagem2 > p{
    display: inline-block;
    line-height: 2em;
    padding: 5px;
    border-radius: 4px;
    background-color: rgba(76, 75, 75, 0.312);
    color:black;
    
}

.footer{

    color: white;
    background-color: black;
    text-align: center;
    padding: 10px;
   
}

.footer > a{
    text-decoration: none;
    color: white;
}

.footer > a:hover{
    text-decoration: underline;
    color: red;
}