@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    padding-left: 30px;
    
}
table{
    border-collapse: collapse;
    background-color: rgba(0, 0, 0, 0.159);
    width: 400px;
    height: 200px;    
}
td{
    border: 1px  solid black;
    text-align: center;
    font-weight: bold;
}
td:hover{
    color: red;
}
.amarelo{
    background: rgb(238, 238, 132);
}
.verde{
    background-color: rgb(154, 236, 154);
}
.vermelho{
    background-color: rgb(232, 149, 149);
}
.azul{
    background-color: rgb(165, 165, 244);
}




