@charset "UTF-8";

/*Typical Device Breakpoints
----------------------------

Telas Pequenas: de 320px até 480px
Celular: de 481px até 768px
Tablet: de 769px até 1024px
Desktop: 1025px até 1200px
Telas Grandes: acima de 1201px

Foto de Valeria Boltneva: https://www.pexels.com/pt-br/foto/flores-rosa-verdes-e-roxas-durante-o-dia-101472/

Paleta de Cores:

    --cor001:#ffffff;
    --cor002:#000000;
    --cor003:#E8E1DB;
    --cor004:#BB0C54;
    --cor005:#E78D9C;
    --cor006:#890026;
------------------------------
*/



@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+AU+VIC:wght@100..400&family=Playwrite+NL:wght@100..400&display=swap');



:root{
    --cor001:#ffffff;
    --cor002:#000000;
    --cor003:#E8E1DB;
    --cor004:#BB0C54;
    --cor005:#E78D9C;
    --cor006:#890026;
    

    --font001: "Montserrat", sans-serif;
}


*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    background-color: var(--cor006);
    height: 100vh;
    width: 100vw;
}

h1{
    color: var(--cor006);
    font-size: 1.8em;
    font-family: var(--font001);
    font-weight: bold;
    text-align: center;
    padding: 2px;
    
   
}

p{
    padding: 5px;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;

}


/*CONFIGURAÇÃO DA CAIXA DE SECTION*/
section#login{
    position: absolute;
    top:50%;
    left: 50%;
    overflow: hidden;

    background-color: var(--cor001);
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
    border: solid var(--cor002) 3px;
    width: 263px;
    height: 515px;
    border-radius: 20px;

    transform: translate(-50%, -50%);
    transition: width 0.3s; height: 0.3s;
    transition-timing-function: ease;

}

/*CONFIGURAÇÃO DA CAIXA DE IMAGEM*/
section#login > div#imagem{
    display: block;
    background-image: url(../imagens/flor.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    
}

/*CONFIGURAÇÃO DO ID FORMULARIO DENTRO DE SECTION#LOGIN*/
section#login > div#formulario{
    display: block;
    padding: 10px;
}

/*Parágrafo */
div#formulario > p{
    font-size: 0.9em;
    padding-bottom: 5px;  
}

/*FUNDO DA CAIXA DE TEXTO*/
form > div.campo{
   display: block;
   background-color: var(--cor006);
   box-shadow: 0px 2px 3px var(--cor002);
   color: var(--cor001);
   margin: 5px 0px;
   border-radius: 3px;
   width: 100%;
   
}

/*TEXTO invisível*/
div.campo > label{
    display: none;
}

/* ÍCONES */
form > div.campo > span{
    
    border-radius: 3px;
    width: 40px;
    height: 100%;
    padding: 5px;
}

/*CAIXA DE TEXTO */
form > div.campo > input{
    font-size: 1em;
    background-color: var(--cor006);
    color: var(--cor001);
    border: none;
    border-radius: 3px;
    height: 100%;
    width: calc(100% - 50px);
    transform: translateY(-5px);
    
}

/*Botao ENTRAR*/
    form > input[type= submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 30px;
    background-color: var(--cor006);
    border: none;
    border-radius: 3px;
    box-shadow: 0px 2px 3px var(--cor002);
    color: var(--cor001);
    margin-top: 5px;
    padding-top: 2px;
    cursor: pointer;
    
}

/*HOVER DO BOTÃO ENTRAR*/
form > input[type = submit]:hover{
    background-color: var(--cor004);
    color: var(--cor001);
}

/*Botao ESQUECI A SENHA*/
form > .botao{
    display: block;
    background-color: var(--cor006);
    color: var(--cor001);
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 2px 3px var(--cor002);
    margin-top: 5px;
    padding-top: 6px;
    text-align: center;
    text-decoration: none;
}

/*HOVER DO BOTÃO ESQUECI A SENHA*/
form > a.botao:hover{
    background-color: var(--cor004);
    color: var(--cor001);
}


form > a.botao > span{
    font-size: 0.8em;
    
}

input[type = email]::placeholder{
    color: var(--cor005);
}


input[type = password]::placeholder {
    color: var(--cor005);
  }


