@charset "UTF-8";


*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100vh;
    width: 100vw;
}

body{
    background: url(./imagens/fundo-madeira.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    background-size: cover;
}
main{
         display: flex;
         justify-content: center;
         align-items: center;
}

section#telefone{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 60px;
    height: 620px;
    width: 311px;
    background: url(./imagens/frame-iphone.png);
    background-repeat: no-repeat;

}


.botao__home > button{
    background-image: url(imagens/logo-home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 25px;
    border-radius: 40px;
    display: inline-block;
    border: none;
    
}

.botao__youtube > button{
    background-image: url(imagens/logo-youtube.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 25px;
    border-radius: 40px;
    display: inline-block;
    border: none;
}
.botao__whatsapp > button{
    background-image: url(imagens/logo-github.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 25px;
    border-radius: 40px;
    display: inline-block;
    border: none;
}
.botao__instagram > button{
    background-image: url(imagens/logo-instagram.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 25px;
    border-radius: 40px;
    display: inline-block; 
    border: none;   
}
.botao__twitter > button{
    background-image: url(imagens/logo-twitter.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 25px;
    border-radius: 40px;
    display: inline-block;
    border: none;
}
.botao__facebook > button{
    background-image: url(imagens/logo-facebook.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 25px;
    border-radius: 40px;
    display: inline-block;
    border: none;
}